.gantt-container {
    position: relative;
    overflow: hidden;
    cursor: default;

    &-filters {
        display: flex;
        align-items: center;
        position: sticky;
        left: 0;
        // space-between;
        z-index: 999;
        background-color: #fff;
        padding: 10px 0;
        border-radius: 8px;
        top: 0;
        gap: 20px;

        .view-state-button {
            display: flex;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 8px;

            & button:nth-child(1) {
                border-radius: 8px 0 0 8px;
            }

            & button:nth-child(2) {
                border-radius: 0 8px 8px 0;
            }

            button {
              padding: 10px 20px;
              border: none;
              background: white;
              cursor: pointer;

              &.active {
                background-color: #474747;
                color: #fff;
              }
            }
        }

        .mode-state-button {
            display: flex;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 8px;

            & button:nth-child(1) {
                border-radius: 8px 0 0 8px;
            }

            & button:nth-child(2) {
                border-radius: 0 8px 8px 0;
            }

            button {
                padding: 10px 20px;
                border: none;
                background: white;
                cursor: pointer;

                &.active {
                    background-color: #474747;
                    color: #fff;
                }
            }
        }

        &-slc-group {
            display: flex;
            align-items: center;
            gap: 18px;
        }

        &-crt {
            margin-left: auto;

            &-block {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                button {
                    background: none;
                    border: none;
                    width: 100%;
                    display: flex;
                    cursor: pointer;
                    img {
                        width: 13%;
                    }
                }

                button:nth-child(1) {

                    justify-content: flex-end;

                }

                p {
                    letter-spacing: 0.83px;
                    padding: 8px 16px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }

    &-section {
        padding-top: 10px;
        margin: 0 auto;
        height: 800px;
        width: 100%;
        position: relative;
        overflow-x: auto;

      & .gantt-perso-info{
        display: flex;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        left: 40px;
        top: 10px;

        .avatar-img{
          width: 100px;
          margin: auto;
        }
        &-name{
          font-size: 16px;
          font-weight: 700;

        }
      }
        &-timeline {
            margin-left: 244px;
            padding: 0 0 20px 0;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            width: 100%;
            flex-direction: row;
            position: sticky;
            top: 0;
            z-index: 999;

            .week-container {
                position: relative;
            }

            &-empty {
                flex: 1 1;
                height: 100%;
                border-radius: 8px;
                padding: 10px 20px;
                box-sizing: border-box;
            }

            &-header {
                display: flex;
                justify-content: flex-end;
                gap: 3px;
                flex-flow: row;
                padding-top: 5px;
                &-weeks {

                  &-year {
                    position: relative;
                    b {
                      overflow-x: auto;
                      overflow-y: auto;
                      position: sticky;
                      left: 10px;
                      font-size: 20px;

                    }
                  }
                  &-content {
                    display: flex;
                    gap: 3px;
                  }

                }

              &-days {
                width: 250px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              &-month {
                width: 1000px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              &-month,&-days {
                position: relative;

                &::after {
                  content: "";
                  display: block;
                  height: 100%;
                  width: 1.3px;
                  position: absolute;
                  right: 0;
                  top: 0;
                  z-index: 99999;
                }

                div {
                  display: flex;

                  p {
                    margin: auto;
                    text-align: center;
                    font-size: 14px;
                  }
                }

                p {
                  font-size: 14px;
                  padding: 10px 20px;
                  text-align: center;
                }

                &.today {
                  background-color: green;
                }
              }

                &-week {
                    width: 750px;
                    text-align: center;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        height: 100%;
                        width: 1.3px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 99999;
                    }


                    p {
                        font-size: 14px;
                        padding: 10px 20px;
                        text-align: center;
                    }

                    &.today {
                        background-color: green;
                    }
                }
            }
        }

        &-sidebar {
            width: 100%;

            &-line {
                display: flex;
                align-items: flex-start;
                // margin-bottom: 24px;
                gap: 24px;
                width: 100%;
                margin-bottom: 30px;
            }

            &-tasks {
                position: absolute;
                z-index: 999;
                min-width: 220px;
                width: 220px;
                // height: 100%;
                background-color: blue;
                border-radius: 8px;
                padding: 10px 20px 0 20px;
                box-sizing: border-box;

                &.project {
                    position: initial;
                }
            }

            &-task {

                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100px;
                // padding-bottom: 10px;

                &-icon {
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        width: 27%;
                        rotate: 270deg;
                    }
                }

                p {
                    font-size: 12px;
                    padding: 3px;
                }

              &-client-name-team {
                cursor: pointer;
              }
            }

            &-dropdown {
                &-content {
                    &-user-div,&-project-div {
                        padding: 4px 20px;
                        border-top: 1px solid;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 110px;
                        max-height: 110px;
                        .user-info,.project-info{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &-p {
                              display: flex;
                              flex-flow: row;
                              gap: 10px;
                            }
                            .user-info-p {
                              cursor: pointer;
                            }
                        }

                        p {
                            font-size: 12px;
                            line-height: 16px;
                        }

                        .avatar-img {
                            width: 60px;
                            height: 60px;
                            border-radius: 90px;
                            margin-top: 20px;
                        }

                    }
                }
            }
        }

        &-main {
            &-tasks {
                display: flex;
                flex: 5;
                flex-direction: column;
                cursor: pointer;

                &.project {
                    gap: 4px;
                }

                &-m {
                    display: grid;
                    gap: 13px;
                    position: relative;

                    &>section {
                        display: flex;
                        flex: 5;
                        flex-direction: column;
                        gap: 6px;
                    }
                }

                &-u {
                    display: grid;
                    gap: 8px;

                    &.team {
                        display: initial;
                        gap: initial;
                        position: absolute;
                    }
                    .gantt-container-section-main-tasks-t {
                        &-content {

                            p {

                                font-size: 16px;
                            }
                        }
                    }
                }

                &-t {
                    position:absolute;
                    display: flex;
                    gap: 15px;
                    grid-area: 1 / 1 / 2 / 2;

                    &.stacked{
                        & .gantt-container-section-main-tasks-t-content{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 20px;
                            justify-content: flex-start;
                            overflow: hidden;
                            transition: width 0.5s ease;
                            min-width: 100%;

                            &.truncated:hover{
                              min-width: fit-content;
                            }

                            p{
                                width: fit-content;
                                white-space: nowrap;
                            }

                            .description {
                              width: 150px;
                              text-overflow: ellipsis;
                              overflow-x: hidden;
                              white-space: nowrap;
                              display: inline-block;
                            }

                            .title{
                                margin: 0;
                                padding: 0;
                            }

                            .nbDays{
                                margin: 0;
                                padding: 0;
                            }

                        }
                    }

                    &:hover{
                        z-index: 999;
                    }

                    &-content {
                        display: flex;
                        align-items: center;

                        border-radius: 8px;
                        background: var(--light-grey, #F7F7F7);
                        width: 100%;
                        max-height: 110px;
                        border: solid rgb(236, 236, 236) 2px;
                        flex-direction: column;
                        padding: 10px;

                        &.truncated .description {
                          display: -webkit-box;
                          -webkit-box-orient: vertical;
                          -webkit-line-clamp: 2;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          max-height: 3em;
                        }

                        p {
                            font-size: 14px;
                            letter-spacing: 0.36px;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 2px;
                            width: 100%;
                            text-overflow: ellipsis;
                        }

                        .title {
                            text-wrap: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 100%;
                            margin-top: 15px;
                            font-weight: 700;
                            font-size: 18px;
                            margin-bottom: 5px;
                        }

                        .nbDays {
                          margin-top: auto;
                          font-size: 12px;
                        }
                    }

                    &-content.equipe {
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            color: #090754;
                            font-size: 16px;
                        }

                        .equipe-content {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            p {
                                font-size: 12px;
                                max-width: max-content;
                            }
                        }
                    }
                }

                &-u.equipe {
                    display: initial;
                    gap: initial;
                    position: absolute;
                }

                &-t {
                    &-content.equipe {
                        padding: 0;

                        p {
                            padding: 0 6px;
                        }
                    }
                }
            }
        }

        .gantt-task-container {
            display: flex;
            flex-direction: column;
        }
    }



    @media screen and (max-width : 1300px) {
        .gantt-container {
            &-sidebar {
                width: 270px;
                height: 100%;
                border-radius: 8px 0 0 8px;
            }

            &-main {
                width: calc(calc(100% - 270px) - 6em);
            }
        }
    }
}

.modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.481);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 60px;
        text-align: center;
        h2{
            font-size: 35px;
            margin: 0;
        }
        p{
            margin: 0;
        }
        .time{
            font-weight: bold;
        }

    }

    .content{
        background-color: white;
        width: fit-content;
        border-radius: 12px;
        position: relative;
        padding: 20px 60px;
        max-width: 70%;

      .close-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
}
