.gantt-container {
    padding: 35px;

    &-filters {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        align-items: center;


        &-slc-group {
            display: flex;
            align-items: center;
            gap: 18px;
        }

        &-crt {
            &-block {
                display: flex;
                align-items: center;
                gap: 20px;

                button {
                    background: none;
                    border: none;
                    display: flex;

                    img {
                        width: 10%;
                    }
                }

                button:nth-child(1) {

                    justify-content: flex-end;

                }

                p {
                    letter-spacing: 0.83px;
                    padding: 8px 16px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }

    &-section {
        margin: 0 auto;
        height: 800px;
        width: 100%;
        position: relative;

        &-timeline {
            margin-left: 244px;
            padding: 0 0 20px 0;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            width: 100%;
            flex-direction: row;
            position: sticky;
            top: 0px;
            z-index: 999;

            .week-container {
                position: relative;
            }

            &-empty {
                flex: 1 1;
                height: 100%;
                border-radius: 8px;
                padding: 10px 20px;
                box-sizing: border-box;
            }

            &-header {
                display: flex;
                justify-content: flex-end;
                gap: 3px;
                flex-flow: row;
                &-weeks {
                  &-year {
                    b {
                      overflow-x: auto;
                      overflow-y: auto;
                      position: sticky;

                    }
                  }
                  &-content {
                    display: flex;
                  }

                }

                &-days {

                    // border-radius: 8px;
                    width: 250px;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        height: 100%;
                        width: 1.3px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 99999;
                    }
                    div {
                        display: flex;
                        flex-flow: column;
                        p {
                            margin: auto;
                            text-align: center;
                            font-size: 14px;
                            padding: 15px 20px;
                        }
                    }
                    p {
                        font-size: 14px;
                        padding: 10px 20px;
                        text-align: center;
                    }

                    &.today {
                        background-color: green;
                    }
                }

                &-week {
                    width: 750px;
                    text-align: center;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        height: 100%;
                        width: 1.3px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 99999;
                    }


                    p {
                        font-size: 14px;
                        padding: 10px 20px;
                        text-align: center;
                    }

                    &.today {
                        background-color: green;
                    }
                }
            }
        }

        &-sidebar {
            width: 100%;

            &-line {
                display: flex;
                align-items: flex-start;
                // margin-bottom: 24px;
                gap: 24px;
                width: 100%;
                margin-bottom: 30px;
            }

            &-tasks {
                position: absolute;
                z-index: 999;
                min-width: 220px;
                width: 220px;
                // height: 100%;
                background-color: blue;
                border-radius: 8px;
                padding: 10px 20px 0px 20px;
                box-sizing: border-box;

                &.project {
                    position: initial;
                }
            }

            &-task {

                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 132px;
                // padding-bottom: 10px;

                &-icon {
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        width: 20%;
                        rotate: 270deg;
                    }
                }

                p {
                    font-size: 12px;
                    padding: 3px;
                }
            }

            &-dropdown {
                &-content {
                    &-user-div {
                        padding: 4px 20px;
                        border-top: 1px solid;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 110px;
                        max-height: 110px;
                        .user-info{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &-p {
                               display: flex;
                                flex-flow: row;
                                gap: 10px;
                            }
                        }

                        p {
                            font-size: 12px;
                            line-height: 16px;
                        }

                        .avatar-img {
                            width: 60px;
                            height: 60px;
                            border-radius: 90px;
                            margin-top: 20px;
                        }

                    }
                }
            }
        }

        &-main {
            &-tasks {
                display: flex;
                flex: 5;
                flex-direction: column;

                &.project {
                    gap: 4px;
                }

                &-m {
                    display: grid;
                    gap: 13px;
                    position: relative;

                    &>section {
                        display: flex;
                        flex: 5;
                        flex-direction: column;
                        gap: 6px;
                    }
                }

                &-u {
                    display: grid;
                    gap: 8px;

                    &.team {
                        display: initial;
                        gap: initial;
                        position: absolute;
                    }

                    .gantt-container-section-main-tasks-t {
                        &-content {

                            p {

                                font-size: 16px;
                            }
                        }
                    }
                }

                &-t {
                    position:absolute;
                    display: flex;
                    gap: 15px;
                    grid-area: 1 / 1 / 2 / 2;

                    &.stacked{
                        & .gantt-container-section-main-tasks-t-content{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 20px;

                            p{
                                width: fit-content;
                            }

                            .title{
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }

                    &:hover{
                        z-index: 999;
                    }

                    &-content {
                        display: flex;
                        align-items: center;

                        border-radius: 8px;
                        background: var(--light-grey, #F7F7F7);
                        width: 100%;
                        padding: 0 18px;
                        max-height: 110px;
                        border: solid rgb(236, 236, 236) 2px;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;

                        p {
                            font-size: 14px;
                            letter-spacing: 0.36px;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 2px;
                            width: 100%;
                            text-overflow: ellipsis;
                        }

                        .title {
                            margin-top: 15px;
                            font-weight: 700;
                            font-size: 18px;
                            margin-bottom: 5px;
                        }

                        .description {
                            font-size: 12px;
                        }
                    }

                    &-content.equipe {
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            color: #090754;
                            font-size: 16px;
                        }

                        .equipe-content {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            p {
                                font-size: 12px;
                                max-width: max-content;
                            }
                        }
                    }
                }

                &-u.equipe {
                    display: initial;
                    gap: initial;
                    position: absolute;
                }

                &-t {
                    &-content.equipe {
                        padding: 0;

                        p {
                            padding: 0 6px;
                        }
                    }
                }
            }
        }

        .gantt-task-container {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width : 1300px) {
        .gantt-container {
            &-sidebar {
                width: 270px;
                height: 100%;
                border-radius: 8px 0 0 8px;
            }

            &-main {
                width: calc(calc(100% - 270px) - 6em);
            }
        }
    }
}
