.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task-table {
  border-collapse: collapse;
  width: 20%;
  float: left;
}

.task-table th, .task-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.gantt-container {
  width: 80%;
  float: right;
}


.gantt-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gantt-task-name {
  flex: 1;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  background-color: #f5f5f5;
}

.gantt-bar-container {
  flex: 3;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f5f5f5;
  position: relative;
}

.gantt-bar {
  height: 30px;
  background-color: #FFA500;
}

.select-custom-secondary{
  padding: 5px;
  border-radius: 5px;
  border: solid 1px lightgray;
}
